name: build

on:
  push:
    branches:
    - main
  pull_request: { }

permissions:
  contents: read

concurrency:
  group: build-${{github.ref}}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
        cache-dependency-path: function/go.sum

    - name: Build
      run: cd function && go build -v ./...

    - name: Lint
      uses: golangci/golangci-lint-action@v9
