name: build

on:
  push:
    branches:
    - main
  pull_request: { }

permissions:
  contents: read
  id-token: write

concurrency:
  group: build-${{github.ref}}
  cancel-in-progress: true

jobs:
  debug:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Debug OIDC Claims
      uses: steve-todorov/oidc-debugger-action@v1
      with:
        audience: '${{ github.server_url }}/${{ github.repository }}'
    - uses: google-github-actions/auth@v3
      with:
        workload_identity_provider: projects/789540387022/locations/global/workloadIdentityPools/github-pool/providers/github-provider
        service_account: gh-actions-sa@github-repository-token-issuer.iam.gserviceaccount.com
    - run: gcloud auth list
    - run: gcloud projects describe github-repository-token-issuer

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Go - Setup
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
        cache-dependency-path: function/go.sum
    - name: Go - Build
      working-directory: ./function
      run: go build ./...
    - name: Go - Vet
      working-directory: ./function
      run: go vet ./...
    - name: Go - Lint
      uses: golangci/golangci-lint-action@v9
      with:
        working-directory: function
    - name: Go - Test
      working-directory: ./function
      run: go test -v ./...
      env:
        GITHUB_APP_ID: "1"

    - name: Terraform - Read version
      id: terraform-version
      run: echo "version=$(cat .terraform-version | tr -d '[:space:]')" >> $GITHUB_OUTPUT
    - name: Terraform - Setup
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{steps.terraform-version.outputs.version}}
    - name: Terraform - Init
      working-directory: ./terraform
      run: terraform init -backend=false
    - name: Terraform - Validate
      working-directory: ./terraform
      run: terraform validate
